.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5% 0;
  width: 100%;
  background: black;
  color: white;
  font-size: 1rem;
  bottom: 0;
  position: sticky;
}

.footer .text {
  color: white;
  font-size: 1rem;
  text-align: center;
}
