/* home.css */

.home-content{
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}
h1 {
  margin: 2rem 0;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}

.one,
.two,
.three,
.four,
.five,
.six {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.one .photo,
.two .photo,
.three .photo,
.four .photo,
.five .photo,
.six .photo,
.one .content1,
.two .content2,
.three .content3,
.four .content4,
.five .content5,
.six .content6 {
  flex: 1;
  padding: 10px;
}

.photo img {
  width: 100%;
  height: 350px;
  border-radius: 10px;
}

h4 {
  margin-bottom: 10px;
  color: #333;
}

p {
  margin: 0;
  color: #555;
}
